/* header部分 */
.flex,.menu {
  padding: 0%;
  margin: 0%;
}

/* // 🟩 透明な「hover検知ゾーン」を設置 */
.sidebar-hover-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; 
  height: 100%;
  z-index: 10;
}

.menu li a span {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100px); 
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); 
  }

  /* // 🟦 左端（hover zone）にマウスが入ったときだけ文字を表示 */
  .sidebar-hover-zone:hover ~ .menu li a span,
  .menu:hover li a span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

.logo > a > img {
    width: 45px;
    height: auto;
    margin: 30px 0;
    transition: all 0.3s ease;
  }

li > a > img {
  width: 35px;
  height: 35px;
  margin: 30px 0;
  border-radius: 50%;
  object-fit: cover;
}

li{
  width: 200px;
}

.fa-solid{
  font-size: 25px;
  
}
span{
  padding-left: 15px;
  font-size: 20px;
  
}

li:hover{
  background-color: #ddd;
  border-radius: 10px;
  padding: 1px 10px;
}

