:root {
  --sidebar-width: 15%;
}

/* header部分 */
.flex{
  padding: 0%;
  margin: 0%;
  position: relative;
}

.menu {
  padding: 0%;
  margin: 0%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  /* background-color: transparent;
  transition: background-color .3s ease; */
}

/* ✅ 文字が出るタイミングで白に */
/* .sidebar:hover {
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
} */



/* // 🟩 透明な「hover検知ゾーン」を設置 */
.sidebar-hover-zone {
  width: 15%; 
  /* height: 100%; */
}

.logo > a > img {
  width: 45px;
  height: auto;
  margin: 30px 0;
  transition: all 0.3s ease;
}

/* // 🟦 左端（hover zone）にマウスが入ったときだけ文字を表示 */
.sidebar-hover-zone:hover ~ .menu li a span,
.menu:hover li a span {
  opacity: 1;
  visibility: visible; 
  transform: translateX(0);  /* 元の位置へ */
  
  
}

.menu > li > a > span{
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);  */
  transform: translateX(-15px); /* 左から */
  transition: 
    opacity .4s ease,
    visibility .4s ease,
    transform .4s cubic-bezier(0.25, 0.1, 0.25, 1);
  
}

/* li a:hover{
  display: flex;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
  padding: 10px 15px;
} */

.menu li a {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
}

/* hover では色だけ変える */
.menu li a:hover {
  background-color: #ddd;
}

li > img {
  width: 35px;
  height: 35px;
  margin: 30px 0;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

li{
  width: 200px;
}

.fa-solid{
  font-size: 25px;
  
}
span{
  padding-left: 25px;
  font-size: 20px;
  
}

main{
  width: 100%;
}

