.sidebar {
  background-color: transparent;
  transition: background-color .3s ease;
}

/* ✅ 文字が出るタイミングで白に */
.sidebar:hover {
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}

/* ===== mainエリアの調整 ===== */
.main{
  margin-left: 14%;
  margin-top: 3%;
}

.setting-wrapper {
  display: flex;
}

/* 左メニュー */
.setting-container {
  width: 15%;
  flex-shrink: 0;
  position: fixed;
}

.section-title{
    /* margin-top: 2%; */
    margin-bottom: 3%;
    font-size: 20px;
    border-bottom: 1px solid black;
    /* font-weight: bold; */
}

.setting-item{
    display: flex;
    font-size: 15px;
    padding: 15px 20px;
    align-items: center;
}

.setting-item > i{
    font-size: 20px;
    margin-right: 10px;
}

.setting-item:hover{
    background-color: #ddd;
    border-radius: 8px;
}

/* 右の内容 */
.setting-detail {
  flex: 1;
  margin-left: 20%;
}

/* パネルの表示/非表示 */
.setting-panel {
  display: none;
}
.setting-panel.active {
  display: block;
}

/* 選択中メニューの見た目 */
.setting-item.active {
  background: #efefef;
  border-radius: 8px;
}

.panel-inner{
    flex:1; 
    padding:20px;
    max-width:720px;
    margin:auto;
}

